###############
# server
/server/target/
/server/pom.xml.tag
/server/pom.xml.releaseBackup
/server/pom.xml.versionsBackup
/server/pom.xml.next
/server/release.properties
/server/dependency-reduced-pom.xml
/server/buildNumber.properties
/server/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
/server/.mvn/wrapper/maven-wrapper.jar
/server/server.iml

###############
# client
/client/.DS_Store
/client/node_modules
/client/dist/

# local env files
/client/.env.local
/client/.env.*.local

# Log files
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

